.carousel-img {
  height: 500px;
  width: 100px;
  object-fit: cover;
}

.img {
  border: 2px solid black;
}

h1 {
  background-color: rgb(214, 235, 250);
  border: 2px solid black;
  text-align: center;
}

h2 {
  text-align: center;
}



p {
  text-align: center;
  padding-top: 10px;
}


.fa:hover {
  opacity: 0.7;
}

.container {
  text-align: center;
}




