/*Reset Defaults*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*SELECTORS*/

/*--TYPE SELECTORS--*/

/*heading*/

H1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5em  !important;
    color:black;
    text-align: center  !important;
    opacity: 1;
    padding: 20px;  
}


/*form*/


H2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    color: black;
    text-align: center;
    opacity: 1;
    padding: 20px;
}

form {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    color: black;
    text-align: center;
    opacity: 1;
    padding: 20px;

}

/*paragraph*/

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    color:black;
    text-align: center;
    border: 15px black;
    padding: 10px;
    margin: 20px;
    overflow:scroll;
    height: 70px;
    width: 500px;
    min-width: 400px;
    max-width: 600px;
    min-height: 70px;
    max-height: 100px;

}




/*--CLASS SELECTORS--*/

/*targets the <section> element with the class="form-section"*/

.form-section {
    font-size: 1em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    background-color: rgb(129, 239, 171);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 10px solid black;
    border-radius: 10px;
    
  
}

/*targets the footer*/
.footer {
    padding: 50px;
    text-align: center;
    visibility: hidden;


}


/*--ID-SELECTORS--*/

/*targets the main title*/

#main-title {
    font-weight: bold;
    margin: 10px 5px 10px 5px;
    padding: 10px 5px 10px 5px;
    border: 5px solid black;
}

/*targets the quote*/

#quote {
    text-align: center;
    font-size: larger;

}


/*--MULTIPLE CLASS SELECTORS--*/

/*green.bold targets h2 "navigation"*/

.green.bold {
    color: green;
    font-weight: bold;
    margin: 0 auto;

    
}


/*ATTRIBUTE SELECTORS*/

/*targets text inputs*/
input[type="text"] {
    font-weight: lighter;

}
    

/*--DESCENDANT COMBINATORS--*/


/*targets labels*/
.form-section label {

    font-weight: bolder;
    
}


/*MULTIPLE SELECTORS*/


p, .nav {
    text-align: center;
    background-image: url(https://static.vecteezy.com/system/resources/previews/020/645/443/non_2x/light-green-yellow-white-gradient-background-smooth-noise-texture-blurry-backdrop-design-copy-space-photo.jpg);
   

}


/*CHAINING*/

/*target text and email field*/

section.form-section input[type="text"],
section.form-section input[type="email"] {
    width: 100%;

}



/*--PSEUDO-CLASSES--*/

input[type="submit"]:hover {
        background-color: white;
        
}
