/*reset defaults*/
* {
    margin: 0;
    padding: 0;
    box sizing: border-box;
}

.title {
    text-align: center;
    font-family: "Space Mono", monospace, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(2, 29, 2);
}

/*navigation*/ 
nav {
    text-align: center;
    
}

nav a {
    display: inline-block;
    margin: 20px;    
    

}

/*intro paragraph*/

.intro {
    text-align: center;
    line-height: 1em;
    color: rgb(0,100,0);
    margin: 10px;

    
}

h2 {
    text-align: center;
    font-family: "space-mono", monospace, sans-serif;
    color:  #0da40d; /*light-green*/
    margin: 20px;
    opacity: 0.8;
}

/*quote*/
.quote {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: normal;
    word-spacing: 0.5em;
    font-family: "space-mono",monospace,sans-serif;
    color:hsl(99, 82%, 48%);
    border: 2px, solid, black;
    opacity: 0.8;
    display: block;
    margin-top: 20px;
    
    
}


@font-face {
    font-family: "space-mono", monospace, sans-serif;
    src: url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">);

}

/*images in gallery*/

#img1 {
    height: 200px;
    width: 200px;
    padding: 10px;
    display: inline-block;
    position: sticky;

}

#img2 {
    height: 200px;
    width: 200px;
    padding: 10px;
    display: inline-block;
    position: absolute;
    bottom: 70px;
    right: -50px;
    
    
}

#img3 {
    height: 200px;
    width: 200px;
    padding: 10px;
    display: inline-block;
    position: relative;
    left: 40px;
    

}

#img4 {
    height: 200px;
    width: 200px;
    padding: 10px;
    display: inline-block;
    position: relative;
    left: 10px;
    
}

#img5 {
    height: 200px;
    width: 200px;
    padding: 10px;
    display: inline-block;
    position: fixed;
    top: 100px;
    z-index: -1;
    
}